:root {
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-bg: #f5f4fa;
  --color-footer-bg: #2f303a;
  --color-accent: #2196f3;
  --color-footer-text: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "roboto";
  margin: 0;
}


.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 453px;
  padding: 0;
  text-decoration: none;
  gap: 40px;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list-link-blue {
  color: #2196f3;
   font-weight: 500;
   text-decoration: none;
   margin-left: 60px;
}

.nav-list-link {
  color: #212121;
  font-weight: 500;
  text-decoration: none;
}
.header-section-contact {
  display: flex;
  justify-content: space-between; 
  gap: 40px;
  white-space: nowrap;
}

.header-section-email{
  color: #2196f3;
}

.header-section-phone {
  color: #757575;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
 
}

.logo-blue {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 44px;
}

.hero-button {
  margin-top: 20px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  width: 216px;
  height: 50px;
}

.hero-features .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.features-item {
  width: 270px;
}

.features-item-text {
  color: #757575;
}

.main-activity .container {
  margin-top: 50px;
}

.main-activity-title {
  text-align: center;
  margin-bottom: 30px;
}

.main-activity-items {
  display: flex;
  justify-content: space-between;
}

.main-activity-img {
  width: 370px;
  height: 294px;
}

.main-team .container {
  margin-top: 50px;
}
.main-team {
  padding-bottom: 100px;
  background-color: #f5f4fa;
}

.main-team-title {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 100px;
  color: #212121;
  font-weight: 700;
}

.main-team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-member {
  width: 270px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 1px solid #ffffff; 
  border-radius: 4px; 
}

.team-member-photo {
  width: 270px;
  height: 260px;
}
.team-member-role {
  color: #757575;
}

footer {
  background-color:#2f303a ;
  color: white;
  padding: 40px 0;
}

