:root {



}

body {
  font-family: "roboto";
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}